.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  /* padding: 6rem; */
  min-height: 100vh;
  max-width: 400px;
  /* backgrou nd-color: whitesmoke; */
  color: #2c293e;
  font-family: system-ui;
  background: linear-gradient(0deg, #f67eab, pink);
  position: relative;
}

.button {
  background-color: #ff6699;
  border-radius: 40px;
  border-width: 0;
  height: 50px;
  width: 125px;
  box-shadow: 0;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}

.button:hover {
  cursor: grab;
}

.button_white {
  background-color: white;
  border-color: #ff6699;
  border-radius: 5px;
  border-width: 1;
  border-style: solid;
  height: 40px;
  width: 125px;
  box-shadow: 0;
  font-size: 16px;
  margin-bottom: 10px;
  color: #ff6699;
}

.button_white:hover {
  cursor: grab;
}

.button_unstyled {
  background-color: transparent;
  border-width: 0;
  /* height: 40px; */
  color: #2c293e;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 10px;
  font-weight: 500;
}

.button_transparent {
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
  color: #2c293e;
  /* height: 40px; */
}

.button_unstyled:hover {
  cursor: grab;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 39.23px;
  background: #f7f7f7;
  border: 1px solid #ff6699;
  border-radius: 5px;
  color: black;
  padding: 5px 5px;
}
.input-group {
  display: flex;
  align-items: center;
  position: relative;
}

.input-group-addon {
  right: 10px;
  position: absolute;
}
.layout {
  width: 100%;
  position: relative;
}

.layout_header {
  width: 100%;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1; */
}

.layout_main {
  background-color: white;
}

.account_header {
  padding: 1rem 1rem 1rem 0.5rem;
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.reveal_options_card {
  /* width: 90vw; */
  padding: 1rem;
  color: darkslategray;
  background-color: white;
  overflow-wrap: break-word;
  word-wrap: break-word;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(16, 24, 40, 0.1),
    0px 2px 3px rgba(16, 24, 40, 0.06);
}

.balance_card {
  padding: 1rem;
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  /* border-color: antiquewhite;
  border-style: solid;
  border-width: 3px; */
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(16, 24, 40, 0.1),
    0px 2px 3px rgba(16, 24, 40, 0.06);
}

.align_center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spacer {
  padding-top: 10px;
}

.avatar {
  border-radius: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-button {
  background-color: white;
  color: #ff6699;
  /* color: #333; */
  padding: 12px 16px;
  border: 2px #ff6699 solid;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: flex-end;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0px;
  margin: 0;
}

.dropdown-menu li button {
  /* display: block; */
  /* padding: 8px 16px; */
  text-decoration: none;
  color: #333;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.dropdown-menu li button:hover {
  background-color: lightgray;
}

/*
.dropdown {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}

.dropdown_control {
  /* background-color: black; */
/* } */

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}
/*
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
} */

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  /* .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  } */

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
